#ratings {
  cursor: pointer; }

.ratings-background {
  color: #01273d; }
  .ratings-background:hover {
    color: black; }

.ratings-primary {
  color: #2b9fd8; }
  .ratings-primary:hover {
    color: #186185; }

.ratings-secondary {
  color: #f16b21; }
  .ratings-secondary:hover {
    color: #a2400a; }

.ratings-black {
  color: #000000; }
  .ratings-black:hover {
    color: black; }

.ratings-blue {
  color: #008CBA; }
  .ratings-blue:hover {
    color: #003f54; }

.ratings-brown {
  color: #757763; }
  .ratings-brown:hover {
    color: #3e3f35; }

.ratings-gold {
  color: #FFD700; }
  .ratings-gold:hover {
    color: #998100; }

.ratings-green {
  color: #4CAF50; }
  .ratings-green:hover {
    color: #2d682f; }

.ratings-pink {
  color: #FA7C91; }
  .ratings-pink:hover {
    color: #f61a3f; }

.ratings-purple {
  color: #8A4D76; }
  .ratings-purple:hover {
    color: #49283e; }

.ratings-red {
  color: #f44336; }
  .ratings-red:hover {
    color: #ba160a; }

.ratings-beige-light {
  color: #D0D1CD; }
  .ratings-beige-light:hover {
    color: #9ea098; }

.ratings-beige-lighter {
  color: #EFF0EB; }
  .ratings-beige-lighter:hover {
    color: #c0c4b1; }

.ratings-gray {
  color: #e7e7e7; }
  .ratings-gray:hover {
    color: #b4b4b4; }

.ratings-white {
  color: #FFFFFF; }
  .ratings-white:hover {
    color: #cccccc; }
