:root {
  --color-background: #01273d;
  --color-primary: #2b9fd8;
  --color-secondary: #f16b21;
  --color-tertiary: #FFD700;
  --color-red: #f44336;
  --color-orange: #f16b21;
  --color-yellow: #FFD700;
  --color-green: #4CAF50;
  --color-blue: #008CBA;
  --color-indigo: #4b0082;
  --color-violet: #800080;
  --color-brown: #757763;
  --color-gold: #FFD700;
  --color-gray: #999;
  --color-pink: #FA7C91;
  --color-purple: #8A4D76;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --button-simple-color: #01273d;
  --button-simple-hover: #FFFFFF;
  --button-color: #2b9fd8;
  --button-color-hover: #01273d;
  --button-shadow: #000000;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --photo-size-small: 2rem;
  --photo-size-medium: 4rem;
  --photo-size-large: 6rem;
  --photo-size-default: 6rem;
  --photo-squeeze-default: -1.5rem; }

#ratings {
  cursor: pointer; }

.ratings-background {
  color: #01273d; }
  .ratings-background:hover {
    color: black; }

.ratings-primary {
  color: #2b9fd8; }
  .ratings-primary:hover {
    color: #186185; }

.ratings-secondary {
  color: #f16b21; }
  .ratings-secondary:hover {
    color: #a2400a; }

.ratings-tertiary {
  color: #FFD700; }
  .ratings-tertiary:hover {
    color: #998100; }

/*
@each $name, $color in $light-colors {
    @include ratings($name, $color);
}
*/
