@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700");
:root {
  --color-background: #01273d;
  --color-primary: #2b9fd8;
  --color-secondary: #f16b21;
  --color-tertiary: #FFD700;
  --color-red: #f44336;
  --color-orange: #f16b21;
  --color-yellow: #FFD700;
  --color-green: #4CAF50;
  --color-blue: #008CBA;
  --color-indigo: #4b0082;
  --color-violet: #800080;
  --color-brown: #757763;
  --color-gold: #FFD700;
  --color-gray: #999;
  --color-pink: #FA7C91;
  --color-purple: #8A4D76;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --button-simple-color: #01273d;
  --button-simple-hover: #FFFFFF;
  --button-color: #2b9fd8;
  --button-color-hover: #01273d;
  --button-shadow: #000000;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --photo-size-small: 2rem;
  --photo-size-medium: 4rem;
  --photo-size-large: 6rem;
  --photo-size-default: 6rem;
  --photo-squeeze-default: -1.5rem; }

.avatar {
  display: flex;
  align-items: center;
  justify-content: center; }
  .avatar--direction {
    flex-direction: column; }
  .avatar__photo {
    box-sizing: content-box;
    width: var(--photo-size-default);
    height: var(--photo-size-default);
    border-radius: 50%;
    margin: 0.2rem;
    cursor: pointer; }
    .avatar__photo--border {
      border: 0.2rem solid #fff; }
    .avatar__photo--squeeze-right:not(:last-child) {
      margin-right: var(--photo-squeeze-default); }
    .avatar__photo--squeeze-bottom:not(:last-child) {
      margin-bottom: var(--photo-squeeze-default); }
  .avatar__name {
    font-weight: 600; }
  .avatar__photo:hover {
    transform: scale(1.25); }
  .avatar__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: relative;
    bottom: -2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }

button, #button {
  border: none;
  padding: 0.875rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.25rem 0.125rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer; }

.button-simple {
  background-color: var(--color-white);
  color: var(--button-simple-color);
  border: 1px solid var(--button-simple-color); }
  .button-simple--rounded {
    border-radius: 1rem; }
  .button-simple--shadow {
    text-shadow: 2px 2px 4px var(--color-black); }
  .button-simple:hover {
    background-color: var(--button-simple-hover); }

.button-background {
  background-color: #01273d;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000; }
  .button-background--rounded {
    border-radius: 1rem; }
  .button-background:hover {
    background-color: #00070b; }

.button-primary {
  background-color: #2b9fd8;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000; }
  .button-primary--rounded {
    border-radius: 1rem; }
  .button-primary:hover {
    background-color: #2080b0; }

.button-secondary {
  background-color: #f16b21;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000; }
  .button-secondary--rounded {
    border-radius: 1rem; }
  .button-secondary:hover {
    background-color: #d2530d; }

.button-tertiary {
  background-color: #FFD700;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000; }
  .button-tertiary--rounded {
    border-radius: 1rem; }
  .button-tertiary:hover {
    background-color: #ccac00; }

.button-red {
  background-color: #f44336;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000; }
  .button-red--rounded {
    border-radius: 1rem; }
  .button-red:hover {
    background-color: #ea1c0d; }

.button-orange {
  background-color: #f16b21;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000; }
  .button-orange--rounded {
    border-radius: 1rem; }
  .button-orange:hover {
    background-color: #d2530d; }

.button-yellow {
  background-color: #FFD700;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000; }
  .button-yellow--rounded {
    border-radius: 1rem; }
  .button-yellow:hover {
    background-color: #ccac00; }

.button-green {
  background-color: #4CAF50;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000; }
  .button-green--rounded {
    border-radius: 1rem; }
  .button-green:hover {
    background-color: #3d8b40; }

.button-blue {
  background-color: #008CBA;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000; }
  .button-blue--rounded {
    border-radius: 1rem; }
  .button-blue:hover {
    background-color: #006687; }

.button-indigo {
  background-color: #4b0082;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000; }
  .button-indigo--rounded {
    border-radius: 1rem; }
  .button-indigo:hover {
    background-color: #2e004f; }

.button-violet {
  background-color: #800080;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000; }
  .button-violet--rounded {
    border-radius: 1rem; }
  .button-violet:hover {
    background-color: #4d004d; }

.button-brown {
  background-color: #757763;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000; }
  .button-brown--rounded {
    border-radius: 1rem; }
  .button-brown:hover {
    background-color: #5a5b4c; }

.button-gold {
  background-color: #FFD700;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000; }
  .button-gold--rounded {
    border-radius: 1rem; }
  .button-gold:hover {
    background-color: #ccac00; }

.button-gray {
  background-color: #999;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000; }
  .button-gray--rounded {
    border-radius: 1rem; }
  .button-gray:hover {
    background-color: gray; }

.button-pink {
  background-color: #FA7C91;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000; }
  .button-pink--rounded {
    border-radius: 1rem; }
  .button-pink:hover {
    background-color: #f84b68; }

.button-purple {
  background-color: #8A4D76;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000; }
  .button-purple--rounded {
    border-radius: 1rem; }
  .button-purple:hover {
    background-color: #693b5a; }

.button-black {
  background-color: #000000;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000; }
  .button-black--rounded {
    border-radius: 1rem; }
  .button-black:hover {
    background-color: black; }

.button-beige-light {
  background-color: #D0D1CD;
  color: #000000;
  text-shadow: 2px 2px 4px #000000; }
  .button-beige-light--rounded {
    border-radius: 1rem; }
  .button-beige-light:hover {
    background-color: #b7b9b2; }

.button-beige-lighter {
  background-color: #EFF0EB;
  color: #000000;
  text-shadow: 2px 2px 4px #000000; }
  .button-beige-lighter--rounded {
    border-radius: 1rem; }
  .button-beige-lighter:hover {
    background-color: #d8dace; }

.button-gray-light {
  background-color: #999;
  color: #000000;
  text-shadow: 2px 2px 4px #000000; }
  .button-gray-light--rounded {
    border-radius: 1rem; }
  .button-gray-light:hover {
    background-color: gray; }

.button-white {
  background-color: #FFFFFF;
  color: #000000;
  text-shadow: 2px 2px 4px #000000; }
  .button-white--rounded {
    border-radius: 1rem; }
  .button-white:hover {
    background-color: #e6e6e6; }

.button-custom {
  background-color: var(--button-color);
  color: #fff;
  text-shadow: 2px 2px 4px var(--button-shadow); }
  .button-custom--rounded {
    border-radius: 1rem; }
  .button-custom:hover {
    background-color: var(--button-color-hover); }

footer, #footer, .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-weight: 400;
  font-size: small; }

.footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-weight: 400;
  font-size: small;
  flex-direction: row;
  height: 3.5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer; }
  .footer__copyright span:hover {
    color: var(--color-secondary);
    transform: scale(1); }

#ratings {
  cursor: pointer; }

.ratings-background {
  color: #01273d; }
  .ratings-background:hover {
    color: black; }

.ratings-primary {
  color: #2b9fd8; }
  .ratings-primary:hover {
    color: #186185; }

.ratings-secondary {
  color: #f16b21; }
  .ratings-secondary:hover {
    color: #a2400a; }

.ratings-tertiary {
  color: #FFD700; }
  .ratings-tertiary:hover {
    color: #998100; }

/*
@each $name, $color in $light-colors {
    @include ratings($name, $color);
}
*/
